
html{
  
    background-image: url(https://get.wallhere.com/photo/1920x1080-px-minimalism-pattern-simple-simple-background-water-drops-1229931.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
ul {
    display: flex;
    justify-content: center;
  	height: 100px;
      
}
h1{
    color: blue;
    display: flex;
    justify-content: center;
    font-family: verdana;
    font-size:300%;
    
};




